html, body {
    font-family: 'Arial';
    padding: 0;
    margin: 0;
}

#main-container {
    background-color: #fcfcfd;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 21vh 1fr;
    max-height: 100vh;

}

nav {
    background-color: #00c1da;
    display: grid;
    grid-template-rows: 25% 1fr;
    padding: 1em 4em;
    animation: 0.7s ease-out 0s 1 slideInFromLeft;
}

#nav-navbar {
    display: flex;
    align-items: center;
    color: #fff;
}

#left-nav {
    cursor: pointer;
}

#left-nav span:hover {
    text-decoration: underline;
}

#navbar-logo{
    height: 24px;
    width: 24px;
    background-image: url('../img/shape.svg');
    background-size: 100%;
    display: inline-block;
    margin-right: 6px;
}

#navbar-name {
    font-size: 1.6rem;
    line-height: 2.2;
    letter-spacing: 1.2px;
}

#navbar-language {
    font-size: 1rem;
    letter-spacing: 0.24px;
    margin-left: 2em;
}

#right-nav {
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}

#navbar-account {
    font-size: 0.9rem;
    line-height: normal;
    letter-spacing: 0.5px; 
    margin-right: 36px;
}

#navbar-account:hover {
    text-decoration: underline;
}

#navbar-post {
    border-radius: 28px;
    padding: 0.8em 1.2em;
    border: solid 2px #fff;
    font-size: 0.9rem;
}

#navbar-post:hover {
    background-color: #fff;
    color: #00c1da;
}

/* styles for searchbar */

#nav-searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar {
    width: 50vw;
    height: 36px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px rgba(151, 151, 151, 0.3);
    box-shadow: 0px 32px 43px rgba(50, 60, 90, 0.1);
    display: grid;
    grid-template-columns: 22% 1fr 28%;
    padding: 12px 0;
    z-index: 2;
}

#search-category {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#search-category span {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #1e2d52;
    text-transform: uppercase;
}

#search-category span:hover {
    text-decoration: underline;
}

#search-category #more-categories {
    border-radius: 10px;
    position: absolute;
    background-color: red;
    width: 50vw;
    top: 49px;
    left: 0;
    height: 460px;
    box-shadow: 0 14px 13px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    display: none;
    grid-template-columns: 22% 1fr;
    z-index: 10;
}

#more-categories #categories-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 2em 1em;
    padding-right: 0;
    display: grid;
}

#list-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0 1.2em;
}

#more-categories li {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1.47px;
    color: #1e2d52;
    display: flex;
    padding: 0 0.5em;
    align-items: center;
}

.categories-list{
    display: flex;
    flex-direction: column;
    margin-top: 3.2em;
    padding: 0;
}

#more-categories .categories-list li{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.44;
    color: #3c3c3c;
}

#more-categories .categories-list li:hover {
    text-decoration: underline;
}

#more-categories #categories-menu li:hover {
    background-color: #00c1da;
    color: #fff;
}

#search-input {
    border: solid 1px rgba(151, 151, 151, 0.3);
    border-top: 0;
    border-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#search-input input {
    border: 0;
    opacity: 0.8;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #3c3c3c;
    margin-left: 24px;
}

#search-input input:focus {
    border-bottom: 2px solid transparent; /* simple way to show user that input is focused. 'Moving' placeholder text up 2px */
}

#search-location {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-location img {
    margin-right: 12px;
}


#search-location input{
    border: 0;
    opacity: 0.8;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #3c3c3c;
    width: 60%;
    text-transform: uppercase;
}

#search-location input:focus {
    border-bottom: 2px solid transparent; /* simple way to show user that input is focused. 'Moving' placeholder text up 2px */
}

#searchbar-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 62px;
    width: 62px;
    background-color: #fff;
    font-size: 1.3rem; 
    font-weight: bold;
    letter-spacing: 3.3px;
    color: #ffffff;
    margin-left: 32px;
    text-decoration: none;
    background-image: url('../img/search-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#open-mobile-menu {
    display: none;
}

#searchbar-button:hover {
    opacity: 0.9;
}

#search-options-mobile {
    position: absolute;
    top: 15.1vh;
    left: 0;
    border: none;
    display: none;
    align-items: center;
    padding: 0;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.96px;
    color: #1e2d52;
    font-weight: normal;
    flex-direction: column;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: #00c1da;
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: 22vw 1fr;
}

#search-options {
    border-right: solid 1px rgba(151, 151, 151, 0.2);
    display: flex;
    align-items: center;
    padding: 2em;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.96px;
    color: #1e2d52;
    font-weight: normal;
    flex-direction: column;
    animation: 0.6s ease-out 0s 1 slideInFromBottom;
}

.options-list h2{
    width: 15em;
    border-bottom: solid 1px rgba(151, 151, 151, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.96px;
    color: #1e2d52;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.options-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}

.options-list li {
    display: flex;
    align-items: center;
}

.options-list li input{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    outline: solid 1px #979797;
    background-color: #fff;
    width: 16px;
    height: 16px;
}

.options-list li input:checked {
    background-color: #00c1da;
}

.options-list li label {
    margin-left: 0.5em;
}

#options-display ul{
    text-transform: capitalize;
    display: block;
}

#options-price h2{
    width: 15em;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.96px;
    margin: 3em 0;
    color: #1e2d52;
    padding-bottom: 0.5em;
    border-bottom: solid 1px rgba(151, 151, 151, 0.2);
    margin-bottom: 0;
}

#input-container {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    margin-bottom: 1em;
}

#options-price input {
    width: 50px;
    height: 20px;
    margin: 0 0.5em;
}

#options-size h2 {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.96px;
    color: #1e2d52;
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: solid 1px rgba(151, 151, 151, 0.2);
    margin: 0;
}

#size-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
}

#size-container select {
    background-color: white;
    border: 1px solid rgba(151, 151, 151, 0.2);
    color: #1e2d52;
}

#size-container select:disabled {
    color: rgba(30, 45, 82, 0.3);
}

#options-buttons {
    margin-top: 3em;
    display: flex;
    cursor: pointer;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
}

#options-buttons #button-update {
    border: solid 1px #00c1da;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1em;
    letter-spacing: 0.96px;
    color: #00c1da;
    padding: 0.5em 2em;
    margin-right: 1em;
}

#options-buttons #button-update:hover {
    background-color: #00c1da;
    color: #fff;
}

#options-buttons #button-reset {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.77px;
    color: #1e2d52;
    text-align: center;
}

#options-buttons #button-reset:hover {
    text-decoration: underline;
}

#listing-cards {
    margin: 0 5em;
    display: grid;
    grid-template-rows: 90px;
}

#listing-header {
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(151, 151, 151, 0.2);
    animation: 0.4s ease-out 0s 1 slideInFromBottom2;
}

#listing-header h1{
    margin: 0;
    font-size: 1.8rem;
    font-weight: normal;
    color: #3c3c3c;
    text-align: center;
}

#listing-header h1 span {
    color: #00c1da;
    font-weight: bold;
}

#listing-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
}

#listing-header li {
    float: left;
    margin: 0.6em;
}

#listing-header li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#listing-content {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 15em);
    grid-template-rows: repeat(3, 15em);
    justify-content: space-evenly;
    grid-row-gap: 2em;
    animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.list-card {
    display: grid;
    grid-template-rows: 72% 1fr;
    border: solid 1px rgb(151, 151, 151, 0.2);
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.2);
}

.list-card:hover {
    height: 105%;
    width: 105%;
}

.card-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}

.text-price {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
    bottom: 0;
    left: 0;
    padding: 0.4em;
}

.card-text {
    padding: 0.5em 1.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-name {
    font-size: 1rem;
    color: #1e2d52;
}

.text-date {
    opacity: 0.4;
    font-size: 1rem;
    font-weight: 500;
    color: #222222;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom2 {
    0% {
        transform: translateY(80%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1460px) {
    #searchbar {
        width: 50vw;
        height: 28px;
        padding: 6px 0;
    }

    #searchbar-button {
        margin-left: 0.5em;
        height: 42px;
        width: 42px;
    }

    #listing-cards {
        margin: 0 0.5em;
    }

    #listing-header h1 {
        font-size: 1.5rem;
    }
}


@media (max-width: 1280px) { 
    #listing-header {
        padding: 0 2em;
    }

    #listing-content {
        grid-template-columns: repeat(3, 15em);
        grid-template-rows: repeat(4, 15em)
    }

    #options-buttons {
        margin-top: 2em;
    }

    #searchbar #search-category, #search-location {
        display: none;
    }

    #search-input {
        border: none;
    }

    #searchbar {
        width: 42vw;
    }

    main {
        grid-template-columns: 32vw 1fr;
    }
}

@media (max-width: 1140px) {
    #listing-content {
        grid-template-columns: repeat(2, 15em);
        grid-template-rows: repeat(6, 15em)
    }
}

@media (max-width: 930px) {
    #main-container {
        grid-template-rows: 15vh 1fr;
    }


    #nav {
        z-index: 4;
        padding: 1em 2em;
    }

    #searchbar {
        box-shadow: none;
    }

    #search-options {
        display: none;
    }

    #nav-searchbar {
        align-self: flex-end;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .options-list h2 {
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        border-bottom-color: rgba(224, 224, 224, 0.9);
    }

    #options-price h2 {
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        border-bottom-color: rgba(224, 224, 224, 0.9);
    }

    #options-size h2{
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        border-bottom-color: rgba(224, 224, 224, 0.9);
    }

    #options-buttons #button-update, #options-buttons #button-reset{
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        border: 2px solid #fff;
        border-radius: 1em;
        padding: 0.5em 1em;
    }

    #open-mobile-menu {
        cursor: pointer;
        height: 42px;
        width: 42px;
        text-align: center;
        background-color: #fff;
        color: #00c1da;
        font-size: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.3em;
        border-radius: 10px;
    }

    #open-mobile-menu:hover {
        opacity: 0.9;
    }

    #listing-content {
        grid-template-columns: repeat(3, 15em);
        grid-template-rows: repeat(4, 15em);
        grid-column-gap: 1em;
    }
}

@media (max-width: 790px) {
    /* do not show animation for smaller screeens */
    nav, #search-options, #listing-content, #listing-header {
        animation: none;
    }

    #main-container {
        grid-template-rows: 20vh 1fr;
    }

    #listing-content {
        grid-template-columns: repeat(2, 15em);
        grid-template-rows: repeat(6, 15em);
        grid-column-gap: 1em;
    }

    #search-input input {
        font-size: 1rem;
        margin-left: 0.5em;
    }

    #navbar-logo {
        height: 16px;
        width: 16px;
    }

    #navbar-name{
        font-size: 1rem;
    }

    #navbar-language {
        font-size: 0.8rem;
    }

    #navbar-account {
        margin: 0;
        font-size: 0.8rem;
        margin-right: 0.5em;
    }

    #navbar-post {
        padding: 0.5em;
        margin: 0;
        font-size: 0.8rem;
    }

    #search-options-mobile {
        top: 20.2vh;   
    }
}

@media (max-width: 560px) {
    nav {
        grid-template-rows: 50% 1fr;
    }

    #nav {
        padding: 1em;
    }

    #navbar-name{
        font-size: 1.2rem;
    }

    #navbar-language {
        font-size: 1rem;
    }

    #navbar-account {
        font-size: 0.9rem;
    }

    #navbar-post {
        font-size: 0.9rem;
        border: none;
        padding: 0;
    }

    #nav-navbar {
        flex-direction: column;
    }

    #right-nav {
        margin: 0;
    }

    #navbar-post:hover {
        text-decoration: underline;
        background-color: #00c1da;
        color: #fff;
    }

    #nav-searchbar {
        align-self: center;
    }

    #searchbar {
        height: 16px;
        padding: 4px;
    }

    #searchbar-button {
        height: 24px;
        width: 24px;
        background-size: 60%;
        margin-left: 6px;
    }

    #open-mobile-menu {
        height: 24px;
        width: 24px;
        margin-left: 6px;
        font-size: 1.5rem;
    }

    #listing-header h1 {
        font-size: 1.2rem;
    }

    #searchbar input {
        font-size: 0.7rem;
        opacity: 1;
    }

    #listing-content {
        grid-template-columns: repeat(2, 12em);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        grid-template-rows: repeat(6, 16em);
    }
}

@media (max-width: 410px) {
    #listing-header ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #listing-cards {
        margin: 0 2em;
    }

    #listing-content {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 1em;
        grid-template-rows: repeat(12, 14em);
    }

    #search-input {
        width: 120px;
    }

    #search-input input {
        width: 100%;
    }
}