@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Space Mono', monospace; /* space :) */
    color: #333;
}

main {
    margin: 0 auto;
    width: 710px;
    position: relative;
    padding-top: 10em;
}

#night {
    position: absolute;
    right: 0px;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #333;
    font-weight: bold;
    color: #f3f3f3;
    height: 36px;
    font-size: 24px;
    width: 36px;
    cursor: pointer;
}

main h1 {
    margin: 0;
    font-size: 4.6rem;
    text-transform: uppercase;
    line-height: 1.1em;
}

#me {
    margin: 0;
    margin: 0em 0;
    font-size: 2.3rem;
    color: #555;
    text-transform: uppercase;
}

p.about {
    margin: 0;
    margin-top: 4em;
    font-size: 1.3rem;
}

.color {
    color: #7c00c3;
    font-style: italic;
    text-transform: lowercase;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 4em 0;
}

#contact h3 {
    margin: 0;
    font-size: 1.5rem;
}

#contact #sites {
	margin: 0.2em 0 1.5em 0;
	display: flex;
	color: #6e6e6e;
	font-size: 1.2rem;
	flex-wrap: wrap;
	justify-content: center;
}

#contact a {
	color: inherit;
	text-decoration: none;
	display: flex;
	align-items: center;
	margin: 0 12px;
}

#contact a:hover span{
	color: #333;
	text-decoration: underline;
}

#contact .feather {
	margin-right: 4px;
}

#contact .feather-github {
	color: #24292E;
}

#contact .feather-twitter {
	color: #28AAE1;
}

#contact .feather-linkedin {
	color: #0077B5;
}

#contact h4 {
    margin: 0.2em;
    background-color: #7c00c3;
    border-radius: 0.5em;
    padding: 0.5em;
    color: #f3f3f3;
	font-size: 1.1rem;
	font-family: 'Open Sans', sans-serif;
}

#skills {
	margin-bottom: 4em;
}

#skills h2 {
	font-size: 2.3rem;
	margin: 0;
	text-align: center;
	margin-bottom: 4px;
}

#skills h3 {
	font-size: 1.3rem;
	margin: 0;
	text-align: center;
}

.skills-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 4px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}

.s-card {
	min-height: 64px;
	min-width: 64px;
	background-color: #fff;
	border-radius: 8px;
	cursor: pointer;
	margin: 0 4px;
	margin-bottom: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.11);
	position: relative;
	border: 1px solid rgba(0,0,0,0.08);;
}

.s-card>img {
	transition: opacity 0.5s;
	border-radius: 8px;
}

.s-card>p {
	position: absolute;
	opacity: 0;
	font-size: 0.8rem;
	text-align: center;
	margin: 0;
	padding: 4px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.s-card:hover img{
	opacity: 0;
}

.s-card:hover p {
	opacity: 1 !important;
	transition: opacity 0.5s;
}

#work>p {
	font-size: 1.3rem;
	margin: 8px 0;
	margin-bottom: 16px;
}

#work-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 24px;
	margin-bottom: 24px;
}

#work h2 {
    font-size: 2.3rem;
	margin: 0;
	text-align: center;
}

#work a {
	text-decoration: none;
	color: #f3f3f3;
}

#work-l {
	display: grid;
	grid-auto-rows: 190px;
	grid-row-gap: 24px;
}

#work-r {
	display: grid;
	grid-auto-rows: 190px;
	grid-row-gap: 24px;
}

.p-card {
	height: 100%;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	border-radius: 6px;
}

.p-card:hover {
	box-shadow: 6px 12px 5px 0px rgba(0,0,0,0.11);
}

.p-card-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 6px;
	transition: opacity 0.6s;
}

.p-card:hover .p-card-overlay{
	opacity: 1 !important;
}

.p-card img {
	border-radius: 6px;
}

.p-card-i {
	position: absolute;
	top: 0;
	padding: 24px 30px;
}

.p-card-i h3 {
	margin: 0;
	font-size: 1.6rem;
}

.p-card-desc {
	margin: 0;
	margin-top: 4px;
	font-size: 1.2rem;
}

.p-card-tags {
	margin: 0;
	margin-top: 8px;
	opacity: 0.75;
}

img {
    width: 100%;
    height: 100%;
}

@media (max-width: 790px) {
    body {
        padding: 2em;
    }
    
    main {
        width: 100%;
	}
}

@media (max-width: 660px) {
	#work-wrapper {
		grid-template-columns: 320px;
		justify-content: center;
		grid-column-gap: 0;
	}

	#work-r {
		margin-top: 24px;
	}
}

@media (max-width: 380px) {
	#work-r, #work-l {
		grid-row-gap: 12px;
	}

	#work-r {
		margin-top: 12px;
	}

	body {
		padding-bottom: 0;
	}
}