---
withHeader: true
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- charset/http-equiv/viewport -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{{ title + " | Tymon Myśliński" if title else "Tymon Myśliński - Full Stack Developer" }}</title>
		{% if description %}
		<meta name="description" content="{{ description }}" />
		{% else %}
		<meta name="description" content="Self-taught Full Stack developer, working mostly with React, TypeScript and Node.js. Also with a big love for rubber yellow ducks." />
		{% endif %}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#74c0fc" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />

		<link rel="stylesheet" href="/css/theme.css" />
		<link rel="stylesheet" href="/css/style.css" />
		{% if style %}
		<link rel="stylesheet" href="/css/{{ style }}" />
		{% endif %}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<script async src="https://eu.umami.is/script.js" data-website-id="557f7f07-d0f2-42b6-a755-3847791b6f5c"></script>
	</head>
	<body>
		<div class="root">
			<section class="navigation layout">
				{% if withHeader %}
				<a href="/" class="navigation-header">
					<img src="/public/duck_hero.svg" height="56" alt="" />
					<div>
						<h1>Tymon Myśliński</h1>
						<p>@datguyducky</p>
					</div>
				</a>
				{% endif %}

				<button class="theme-icon-wrapper button-base button-square-small" id="theme-button" aria-label="Theme switcher">
					<img src="/public/duck_sleepy.svg" alt="" id="duck-sleepy" width="32" height="32" />
					<img src="/public/duck_sunny.svg" alt="" id="duck-sunny" width="32" height="32" />
				</button>
			</section>

			<div class="container">{{ content | safe }}</div>
		</div>

		<script src="/js/themeMode.js"></script>
	</body>
</html>
