---
layout: base.html
withHeader: true
style: post.css
---

<html lang="en">
	<body>
		<div class="layout post-layout">
			<div class="post-heading-wrap">
				<div class="post-heading-button-wrap">
					<a class="button-base button-small-highlight" id="back-button" href="/posts">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="button-icon"
						>
							<path 
								fill-rule="evenodd"
								d="M7.793 2.232a.75.75 0 01-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 010 10.75H10.75a.75.75 0 010-1.5h2.875a3.875 3.875 0 000-7.75H3.622l4.146 3.957a.75.75 0 01-1.036 1.085l-5.5-5.25a.75.75 0 010-1.085l5.5-5.25a.75.75 0 011.06.025z"
								clip-rule="evenodd"
							/>
						</svg>
						All posts
					</a>
				</div>
				
				<h1>{{ title }}</h1>
			</div>

			{{ content | safe }}

			{% if tags and tags.includes("posts") %}
			<i class="share-feedback">
				If you disagree with the content of this article or have any feedback, I am eager to learn from others.
				Please feel free to contact me at blog@mytymon.com to share your thoughts. I welcome
				discussion and appreciate the opportunity to grow and expand my understanding.
			</i>
			{% endif %}
		</div>
	</body>
</html>
