h1 {
	margin: 0;
}

h2 {
	margin-top: 16px;
	padding-bottom: 8px;
	border-bottom: 1px solid #d8dee4;
	margin-bottom: 16px;
}

h3,
h4,
h5,
h6 {
	margin: 16px 0;
}

ul {
	padding-left: 1.5rem;
	margin-bottom: 8px;
}

ul li {
	padding: 8px 0;
}

ul li:first-child {
	padding-top: 0;
}

ul ul li:first-child {
	padding-top: 8px;
}

ul li::marker {
	color: var(--color-primary);
}

ul ul {
	margin-bottom: 0;
}

ul ul li:last-child {
	padding-bottom: 0;
}

img {
	margin: 0 auto;
	max-width: 100%;
}

p {
	margin: 0;
	padding: 0 0 20px;
	line-height: 30px;
	font-size: 18px;
}

figure {
	margin: 0 0 20px;
}

figure figcaption {
	font-size: 16px;
	color: var(--color-text-subtle);
	font-style: italic;
}

.post-layout {
	display: flex;
	flex-direction: column;
}

.post-heading-wrap {
	margin-top: 64px;
	margin-bottom: 32px;
}

.post-heading-button-wrap {
	display: flex;
	margin-bottom: 24px;
}

img.img-border {
	border: 1px solid var(--color-border);
}

.p-flex {
	display: flex;
}

.post-2-cols {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.share-feedback {
	margin-top: 24px;
}

.small-secondary {
	font-size: 16px;
	color: var(--color-text-subtle);
}

a {
	color: var(--color-primary);
	font-weight: 600;
}

a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 756px) {
	.post-2-cols {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 434px) {
	.post-heading-button-wrap {
		flex-direction: column;
		margin-bottom: 16px;
	}
}

