html,
body {
	font-family: 'Inter', sans-serif;
	background-color: #f8f9fa;
	margin: 0;
	padding: 0 0 48px;
}

p {
	margin: 0;
	padding: 0 0 16px;
}

ul,
li {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

h1 {
	font-size: 32px;
	line-height: 30px;
}

h2 {
	font-size: 24px;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.navigation {
	display: flex;
	margin: 32px auto 0;
}

.theme-icon-wrapper {
	margin-left: auto;
}

.layout {
	max-width: 928px;
}

.heading-with-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-base {
	color: inherit;
	font: inherit;
	outline: inherit;
	background-color: #ffffff;
	border: 1px solid #dee2e6;
	border-radius: 6px;
	padding: 6px 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: 'IBM Plex Mono', monospace;
}

.button-square-small {
	padding: 4px;
	height: 32px;
	width: 32px;
}

.button-small-highlight {
	padding: 6px 12px;
	font-size: 14px;
}

.text-primary {
	color: #74c0fc;
	font-weight: 600;
}

.intro-heading {
	margin-top: 64px;
}

.intro-heading-welcome {
	font-size: 24px;
	font-weight: 400;
}

.intro-heading-sub {
	color: #a6a7ab;
	font-size: 16px;
	font-weight: 400;
}

.intro-wrapper {
	display: grid;
	gap: 96px;
	grid-template-columns: 1fr 210px;
	margin-top: 32px;
}

.blog-section {
	margin-top: 64px;
}

.simple-posts-list {
	list-style: none;
	margin-top: 32px;
}

.simple-posts-list-item {
	color: inherit;
	font-weight: 600;
	padding: 8px 0;
	border-bottom: 1px solid #dee2e6;
}

.simple-posts-list-item a {
	color: inherit;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

.simple-post-list-date {
	font-size: 14px;
	color: #74c0fc;
	font-weight: 400;
	font-family: 'IBM Plex Mono', monospace;
}

.projects-section {
	margin-top: 64px;
}

.short-projects-list {
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 32px;
}

.project-card {
	border: 1px solid #dee2e6;
	background-color: #fff;
	border-radius: 6px;
	padding: 16px;
}

.project-card p {
	padding: 0;
}

.project-card-year {
	font-size: 14px;
	font-family: 'IBM Plex Mono', monospace;
	color: #74c0fc;
}

.project-card-title {
	font-weight: 600;
}

.project-card-description {
	margin-top: 8px;
	font-size: 14px;
	color: #a6a7ab;
}

.project-card-buttons {
	margin-top: 24px;
	display: flex;
	column-gap: 16px;
}
