---
permalink: /index.html
layout: 'home.html'
---

<div>
	<article>
		<h1 class="intro-heading">
			<span class="intro-heading-welcome">Hello! I'm</span>
			<br />
			Tymon Myśliński
			This is a test
			<br />
			<span class="intro-heading-sub">@datguyducky</span>
		</h1>

		<div class="intro-wrapper">
			<p class="intro-text">
				Welcome to my ducky world 💛
				<br />
				Where I showcase my projects and write my thoughts out...
				<br />
				<br />
				Like many others, I never anticipated that being a developer would become my career path when I was
				younger. As a child, my passion for building and creating with Lego bricks fueled my dreams of becoming
				an architect. Little did I know that my path would take an exciting turn with the arrival of my first
				PC, sparking a lifelong journey of exploration and passion in the world of technology.
				<br />
				<br />
				Although I may fit the stereotype of a typical nerd who enjoys all things technology and sci-fi related,
				such as space and Formula 1, there is still much more to discover
				<a class="text-primary text-link" href="/about">about me</a>.
			</p>

			<img src="/public/duck_hero.svg" alt="" />
		</div>
	</article>

	<article class="projects-section">
		<div class="heading-with-button">
			<h2>Featured Projects</h2>

			<a href="/projects" class="button-base">View all</a>
		</div>

		<div class="featured-projects-list">
			{% for project in collections.featuredProjects | reverse %}
			<div class="project-card">
				<p class="project-card-year">{{project.date | formatDate('YYYY')}}</p>
				<p class="project-card-title">{{ project.data.title }}</p>

				<p class="project-card-description">{{project.data.description}}</p>

				<div class="project-card-buttons">
					<a class="button-base button-small-highlight" href="{{ project.url }}">Article</a>

					{% if project.data.websiteUrl %}
					<a class="button-base button-small-highlight" href="{{ project.data.websiteUrl }}">Website</a>
					{% endif %} {% if project.data.sourceUrl %}
					<a class="button-base button-small-highlight" href="{{ project.data.sourceUrl }}">Code</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</article>

	<article class="blog-section">
		<div class="heading-with-button">
			<h2>Latest Posts</h2>

			<a href="/posts" class="button-base">View all</a>
		</div>

		<ul class="simple-posts-list">
			{% for post in collections.posts | reverse %} {% if loop.index <= 6 %}
			<li class="posts-list-item">
				<a href="{{ post.url }}">
					<span class="text-link">{{ post.data.title }}</span>
					<span class="posts-list-item-date"> {{ post.date | formatDate('DD MMMM, YYYY') }} </span>
				</a>
			</li>
			{% endif %} {% endfor %}
		</ul>
	</article>
</div>
